<!-- Default form register -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Prénom">
      </div><br>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Nom">
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit

      <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Confirmer mot de passe" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    </small><br>

    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="btn btn-primary text-right" type="submit">S'inscire</button>

    <hr>

    <!-- Terms of service -->
    <p>En cliquant sur
      <em>S'inscire</em> vous accepter les 
      <a href="" target="_blank">terms of service</a></p>

  </form>
  <!-- Default form register -->