<!--header -->
<app-header></app-header>
<body>
  <section class="p-3 mb-2 bg-light text-dark">
      <p>LOGO ICI</p>
    <div class="text-center">
      <h1>Anishare</h1>
    </div>
    <div class="input-group">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
      </div>
    </div>
  </section>
</body>
<!-- root get injected here-->
<router-outlet></router-outlet>
<!-- footer -->
<app-footer></app-footer>