<h2 class="text-center">Le projet</h2>
<section class="test">
    <div class="text-center">
        <p>Anishare est un projet de site de partage de photos d'animaux pour les photographes amateurs.<br>
            Notre but est de proposer un site qui permette aux photographes animalier d'échanger leurs endroits favoris pour prendre leurs photos. Nous voulons aussi que cela soit facile pour nos utilisateurs de trouver des photos d'un animal précis pour par exemple savoir ou aller le prendre en photo. 
        </p>
    </div>
</section>
<h2 class="text-center">L'Equipe</h2>
<section class="test">
    <div class="text-center">
        <p>
            Nous sommes quatre étudiants en technologie de l'informatione à la haute ècole EPHEC. Nous réalisons ce site dans le cadre d'un cours de développement web.
        </p>

    </div>
</section>